.weblink {
    margin: 0.4rem 0;
    font-size: 1.2rem;
    color: #00ADEC;
}

.weblink:hover {
    color: #00DCEC
}
.weblink:visited {
    color: #D276FF
}
.weblink:visited:hover {
    color: #DB92FF
}