.displayCharaContainer {
    width: 90%;
    height: 84dvh;
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
}

.displayCharaMainASkill {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.displayCharaMainInfo,
.displayCharaSkillInfo,
.displayCharaPassiveInfo,
.displayCharaConstellationInfo {
    height: fit-content;
    padding: 0.2em;
    text-align: center;
    border-radius: 10px;
    background-color: #D5D5D5;
}

.displayCharaMainInfo {
    width: 80%;
}
.displayCharaSkillInfo {
    width: 30%;
}
.displayCharaPassiveInfo {
    width: 100%;
}
.displayCharaConstellationInfo {
    width: 30%;
}